.pointer {
  width: 10px;
  height: 10px;
  fill: #000;
}

@keyframes blinking {
  from {
    opacity: 1;
  }
  to {
    opacity: .3;
  }
}

.keeping {
  animation: blinking 0.4s linear infinite alternate;
}

